# Dependencies
node_modules/

# Build outputs
android/app/build/
android/.gradle/
android/app/.cxx/
android/build/
ios/build/
ios/Pods/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Metro
.metro-health-check*

# Testing
coverage/
android/local.properties
